body{
    background: url(moist.jpg) no-repeat;
    background-size: cover;
    color:whitesmoke;
    font-family: 'Century Gothic';
    text-align: center;

}
img{
    border-radius: 50%;
    width:  200px;
    height: 200px;
}